@{
    ViewData["Title"] = "Home Page";
}

<div class="web3p-main-wrapper">
    <div class="web3p-adbanner">

    </div>
    <div class="web3p-wrapper">
        <div class="web3p-galleries">
            <div class="web3p-galleries-view">
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img1.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img2.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img3.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img4.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img5.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img6.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img7.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img8.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img9.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img10.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img11.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img12.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img13.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img14.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img15.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link " href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            <!--Quang cao giua trang-->
            @*<div class="middle-ads">
            <script type="text/javascript">
        <!--    //<![CDATA[
                document.write("<scr" + "ipt type='text/javascript' src='https://go.hentaigold.net/id/55/'><\/scr" + "ipt>");
                //]]>-->
            </script>
            <script type="text/javascript" src="https://go.hentaigold.net/id/55/"></script>
            <script async="" type="application/javascript" src="https://a.realsrv.com/ad-provider.js"></script>
            <div>
                <style type="text/css">
                    .soFHSgjU {
                        vertical-align: top;
                        border: 0px solid #000000;
                        display: inline-block;
                        background-color: rgba(0, 0, 0, 0);
                        margin: 0px 0px;
                        padding: 0px 0px;
                        max-width: 100%;
                    }
                </style><div class="soFHSgjU" style="display: inline-flex; flex-direction: row;"><div style="height: 250px; width: 300px; cursor: pointer;"><iframe width="300px" height="250px" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"></iframe></div><div style="height: 250px; width: 300px; cursor: pointer;"><iframe width="300px" height="250px" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"></iframe></div><div style="height: 250px; width: 300px; cursor: pointer;"><iframe width="300px" height="250px" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"></iframe></div></div>
            </div><ins class="adsbyexoclick" data-zoneid="4334206" data-processed="true"></ins>
            <script>
                (AdProvider = window.AdProvider || []).push({ "serve": {} });
            </script>

        </div>*@
            <!--Quang cao giua trang-->

            <div class="divider"></div>
            <p class="web3p-popular">Popular</p>
            <!--popular view-->
            <div class="web3p-popular-galleries-view">
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img16.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img17.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img18.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img19.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img20.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img21.jpg.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img22.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img23.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img24.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card web3p-thumb">
                    <small class="web3p-text-top">Hitomi</small>
                    <div class="ribbon ribbon-left ribbon-orange">NEW</div>
                    <img class="card-img-top" src="/assets/images/preview/img25.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

            </div>
            <div class="web3p-more_popular">
                <a class="more_popular_parodies" href="">More Popular Parodies <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
        <div class="web3p-sidebar">
            <div class="text-center">
                <div class="web3p-sidebar_title first_title">Daily Top View</div>
                <div class="web3p-top-content">
                    <div>
                        <a id="" href="">
                            <img src="/assets/images/preview/img1.jpg.jpeg" alt="Shuuto Ekusutashii">
                        </a>

                    </div>
                    <div class="card-body">
                        <a href="" class="card-title">Card title</a>
                        <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="web3p-sidebar_title">Facebook</div>
                    <div class="web3p-sidebar_title">Discord</div>
                    <div class="web3p-sidebar_title">Twitter</div>

                </div>
            </div>
            <br />
            <div>
                <div class="web3p-sidebar_title">Weekly Featured</div>
                <div class="outer_sidebar">

                    <div class="top_sidebar">
                        <a href="" class="web3p-button"><i class="fa fa-star"></i> Top Rated</a>
                        <a href="" class="web3p-button"><i class="fa fa-heart"></i> Most Faved</a>
                    </div>
                    <div class="middle_sidebar" id="middle_sidebar">
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3660.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3662.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3663.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3664.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3665.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3893.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3894.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3895.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3896.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="~/assets/images/preview/IMG_3897.JPG" alt="MILF is in Love With Dick"></a>
                            </div>
                        </div>
                    </div><div class="bottom_sidebar">
                        <a href="" class="web3p-button"><i class="fa fa-smile-o"></i> Most Fapped</a>
                        <a href="" class="web3p-button"><i class="fa fa-arrow-circle-down"></i> Downloaded</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
