
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section EditCss{
    <link href="~/css/itemPage.css" rel="stylesheet" />
}

<div class="web3p-main-wrapper">
    <div class="web3p-adbanner">

    </div>
    <div class="web3p-wrapper">


    </div>
    <div class="web3p-item_gallery">

        <div class="gallery_top">
            <div class="gallery_left">
                <div class="cover">
                    <img src="/assets/images/preview/img1.jpg.jpeg" alt="Metal Slug - Rapid ATTACK">
                </div>
                <a class="g_button" href=""><i class="fa fa-book"></i> Read Online</a>
            </div>
            <div class="gallery_right">
                <div class="info">
                    <h1>Metal Slug - Rapid ATTACK</h1>
                    <ul class="parodies">
                        <span class="i_text">Parodies:</span>
                        <li>
                            <a class="tag_btn " href="/parody/metal-slug/">
                                metal slug
                                <span class="t_badge">6</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="tags"><span class="i_text">Tags:</span><li><a class="tag_btn " href="/tag/ahegao/">ahegao <span class="t_badge">14162</span></a></li><li><a class="tag_btn " href="/tag/big-breasts/">big breasts <span class="t_badge">39249</span></a></li><li><a class="tag_btn " href="/tag/forbidden-content/">forbidden content <span class="t_badge">396</span></a></li><li><a class="tag_btn " href="/tag/military/">military <span class="t_badge">1098</span></a></li><li><a class="tag_btn " href="/tag/mind-break/">mind break <span class="t_badge">7824</span></a></li><li><a class="tag_btn " href="/tag/mind-control/">mind control <span class="t_badge">4324</span></a></li><li><a class="tag_btn " href="/tag/muscle/">muscle <span class="t_badge">5314</span></a></li><li><a class="tag_btn " href="/tag/nakadashi/">nakadashi <span class="t_badge">27701</span></a></li><li><a class="tag_btn " href="/tag/netorare/">netorare <span class="t_badge">7386</span></a></li><li><a class="tag_btn " href="/tag/pregnant/">pregnant <span class="t_badge">2901</span></a></li><li><a class="tag_btn " href="/tag/rape/">rape <span class="t_badge">16263</span></a></li><li><a class="tag_btn " href="/tag/sole-female/">sole female <span class="t_badge">35837</span></a></li><li><a class="tag_btn " href="/tag/tall-girl/">tall girl <span class="t_badge">1164</span></a></li><li><a class="tag_btn " href="/tag/tomboy/">tomboy <span class="t_badge">1758</span></a></li><li><a class="tag_btn " href="/tag/x-ray/">x-ray <span class="t_badge">11517</span></a></li></ul>
                    <ul class="artists"><span class="i_text">Artists:</span><li><a class="tag_btn " href="/artist/hukiguni/">hukiguni <span class="t_badge">2</span></a></li></ul>

                    <ul class="languages"><span class="i_text">Languages:</span><li><a class="tag_btn" href="/language/english/">english <span class="t_badge">98473</span></a></li></ul>
                    <ul class="categories"><span class="i_text">Category:</span><li><a class="tag_btn" href="/category/doujinshi/">doujinshi <span class="t_badge">67445</span></a></li></ul>
                    <span class="i_text pages">Pages: 15</span>
                    <span class="i_text pages">Posted: just now</span>
                    <ul class="g_buttons">
                        <li class="b_like">
                            <button class="g_button" type="button" name="thumbs_up" id="thumbs_up"><i class="fa fa-thumbs-up"></i> 0</button>
                            <span class="gb"></span>
                        </li>
                        <li class="b_dlike">
                            <button class="g_button" type="button" name="thumbs_down" id="thumbs_down"><i class="fa fa-thumbs-down"></i> 0</button>
                            <span class="rb"></span>
                        </li>
                        <li>
                            <button class="g_button" type="button" name="dl_new" id="dl_new"><i class="fa fa-download"></i> Download (1)</button>
                            <input type="hidden" name="gallery_id" id="gallery_id" value="104567">
                            <input type="hidden" name="load_id" id="load_id" value="2396290">
                            <input type="hidden" name="load_dir" id="load_dir" value="004">
                            <input type="hidden" name="gallery_title" id="gallery_title" value="Metal Slug - Rapid ATTACK">
                        </li>
                        <li><button class="g_button" type="button" name="add_fav_btn" id="add_fav_btn"><i class="fa fa-heart"></i> Favorite (0)</button></li>
                        <li><button class="g_button" type="button" name="add_fap_btn" id="add_fap_btn"><i class="fa fa-smile-o"></i> 0 Fapped!</button></li>
                    </ul>
                </div>
                <div id="message_result"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider">
        </div>
        <div class="gallery_bottom">
            <div id="append_thumbs">
                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/1/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img1.jpg.jpeg" data-src="/assets/images/preview/img1.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>

                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/2/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img2.jpg.jpeg" data-src="/assets/images/preview/img2.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>
                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/1/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img3.jpg.jpeg" data-src="/assets/images/preview/img3.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>

                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/2/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img4.jpg.jpeg" data-src="/assets/images/preview/img4.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>
                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/1/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img5.jpg.jpeg" data-src="/assets/images/preview/img5.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>

                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/2/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img6.jpg.jpeg" data-src="/assets/images/preview/img6.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>
                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/1/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img7.jpg.jpeg" data-src="/assets/images/preview/img7.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>

                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/2/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img8.jpg.jpeg" data-src="/assets/images/preview/img8.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>
                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/1/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img9.jpg.jpeg" data-src="/assets/images/preview/img9.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>

                <div class="gallery_thumb">
                    <div class="g_thumb">
                        <a href="/g/104567/2/"><img class="lazy preloader entered loaded" src="/assets/images/preview/img10.jpg.jpeg" data-src="/assets/images/preview/img10.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                </div>

            </div><div class="view_group">
                <a href="" class="button view_link"><i class="fa fa-angle-down"></i> View More</a>
                <a href="" class="button view_link"><i class="fa fa-angle-double-down"></i> View All</a>
            </div>
        </div>
        <div class="divider">
        </div>
        <input type="hidden" name="load_dir" id="load_dir" value="004">
        <input type="hidden" name="load_id" id="load_id" value="2396290">
        <input type="hidden" name="load_pages" id="load_pages" value="15">
        <div class="related_galleries">
            <h2 class="rlt_galleries">Related Galleries</h2><div class="rel_div">
                <div class="thumb">
                    <div class="g_type">
                        <h3 class="g_cat"><a class="t_cat" href="/category/doujinshi/">Doujinshi</a></h3>
                    </div>
                    <div class="inner_thumb">

                        <a href="/gallery/30092/"><img alt="" class="lazy preloader entered loaded" src="/assets/images/preview/img11.jpg.jpeg" data-src="/assets/images/preview/img11.jpg.jpeg" data-ll-status="loaded"></a>
                    </div>
                    <div class="caption">
                        <h2 class="g_title"><a href="/gallery/30092/">Zettai Muteki - Invicibility Absolutely</a></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="comments">
            <h2 class="comm_heading">Comments (<span id="c_comments">0</span>)</h2>
            <div style="margin:0 0 10px 0;" id="message_comment"></div>
            <input type="hidden" name="gallery_id" id="gallery_id" value="104567"><div style="margin:0 0 10px 0" class="alert alert-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> You need to <a href="/login/">login</a> or <a href="/register/">register</a> to post a comment.</div><div id="comments_list"></div>
        </div>
        @*<div class="bgc">
                <script type="text/javascript">
            <!--    //<![CDATA[
                    document.write("<scr" + "ipt type='text/javascript' src='https://go.hentaigold.net/id/55/'><\/scr" + "ipt>");
                    //]]>-->
                </script>
                <script type="text/javascript" src="https://go.hentaigold.net/id/55/"></script>
                <script async="" type="application/javascript" src="https://a.realsrv.com/ad-provider.js"></script>
                <div>
                    <style type="text/css">
                        .g6r2epCW {
                            vertical-align: top;
                            border: 0px solid #000000;
                            display: inline-block;
                            background-color: rgba(0, 0, 0, 0);
                            margin: 0px 0px;
                            padding: 0px 0px;
                            max-width: 100%;
                        }
                    </style><div class="g6r2epCW" style="display: inline-flex; flex-direction: row;"><div style="height: 250px; width: 300px; cursor: pointer;"><iframe width="300px" height="250px" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"></iframe></div><div style="height: 250px; width: 300px; cursor: pointer;"><iframe width="300px" height="250px" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"></iframe></div><div style="height: 250px; width: 300px; cursor: pointer;"><video width="300px" height="250px" loop="true" muted="true" autoplay="true" playsinline="true" preload="auto"><source src="https://s3t3d2y8.afcdn.net/library/361376/aa7c23b98d62003537ab98719382f980b21747fa.mp4"></video></div></div>
                </div><ins class="adsbyexoclick" data-zoneid="4334206" data-processed="true"></ins>
                <script>
                    (AdProvider = window.AdProvider || []).push({ "serve": {} });
                </script>

            </div>*@

    </div>
    <div class="web3p-sidebar">
        <div class="text-center">
            <div class="web3p-sidebar_title first_title">Daily Top View</div>
            <div class="web3p-top-content">
                <div>
                    <a id="" href="">
                        <img src="/assets/images/preview/img1.jpg.jpeg" alt="Shuuto Ekusutashii">
                    </a>

                </div>
                <div class="card-body">
                    <a href="" class="card-title">Card title</a>
                    <p class="card-text"><small class="web3p-text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="web3p-sidebar_title">Facebook</div>
                <div class="web3p-sidebar_title">Discord</div>
                <div class="web3p-sidebar_title">Twitter</div>

            </div>
        </div>
        <br />
        <div>
            <div class="web3p-sidebar_title">Weekly Featured</div>
            <div class="outer_sidebar">

                <div class="top_sidebar">
                    <a href="" class="web3p-button"><i class="fa fa-star"></i> Top Rated</a>
                    <a href="" class="web3p-button"><i class="fa fa-heart"></i> Most Faved</a>
                </div>
                <div class="middle_sidebar" id="middle_sidebar">
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3660.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3662.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3663.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3664.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3665.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3893.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3894.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3895.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3896.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <a href=""><img src="~/assets/images/preview/IMG_3897.JPG" alt="MILF is in Love With Dick"></a>
                        </div>
                    </div>
                </div><div class="bottom_sidebar">
                    <a href="" class="web3p-button"><i class="fa fa-smile-o"></i> Most Fapped</a>
                    <a href="" class="web3p-button"><i class="fa fa-arrow-circle-down"></i> Downloaded</a>
                </div>
            </div>
        </div>
    </div>
</div>

