<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web3P</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    @RenderSection("EditCss", required: false)
    <link href="~/css/reponsive_desktop.css" rel="stylesheet" />
    <link href="~/css/reponsive_tablet.css" rel="stylesheet" />
    <link href="~/css/reponsive_phone.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />

</head>
<body>
    <div class="dashboard-main-wrapper">
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg web3p-bg-nav fixed-top">
                <a class="navbar-brand" href="index.html">Concept</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav navbar-right-top">
                        <li class="nav-item web3p-nav-item">
                            <a href="#" class="web3p-nav-a">Random</a>
                        </li>
                        <li class="nav-item web3p-nav-item">
                            <a href="#" class="web3p-nav-a">Tags</a>
                        </li>
                        <li class="nav-item web3p-nav-item">
                            <a href="#" class="web3p-nav-a">Characters</a>
                        </li>
                        <li class="nav-item web3p-nav-item">
                            <a href="#" class="web3p-nav-a">3D</a>
                        </li>
                        <li class="nav-item web3p-nav-item">
                            <a href="#" class="web3p-nav-a">Artis</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control web3p-nav-input" type="text" placeholder="Search..">
                            </div>
                        </li>
                        
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar web3p-bg-nav web3p-navbar">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Menu</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            
                            @*<li class="nav-divider">
                                    Menu
                                </li>*@
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle"></i>Random  </a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle"></i>Tags  </a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle"></i>Characters  </a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle"></i>3D  </a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle"></i>Artis  </a>

                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
    </div>

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top">
        <div class="bottom_footer">
            <div class="container">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Hentai Comics</a></li>
                    <li><a target="_blank" href="">Videos</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    <li id="offsite_link"><i class="fa fa-arrow-down"></i></li>
                </ul>
                <ul>

                    <li><a target="_blank" rel="nofollow noopener" href="">Harem Hentai</a></li>
                    <li><a target="_blank" rel="nofollow noopener" href="">PornDude</a></li>
                    <li><a target="_blank" rel="nofollow noopener" href="">NHentai</a></li>
                    <li><a target="_blank" href="">IMHentai</a></li>
                    <li><a target="_blank" rel="noopener" href="">Comic Porn</a></li>
                    <li><a target="_blank" rel="noopener" href="">HentaiEra</a></li>
                    <li><a target="_blank" rel="noopener" href="">HentaiZap</a></li>
                    <li><a target="_blank" rel="noopener" href="">HentaiEnvy</a></li>
                    <li><a target="_blank" rel="nofollow noopener" href="">Hentai</a></li>

                </ul>
            </div>
        </div>

    </footer>
    <!-- jquery 3.3.1 -->
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- main js -->
    <script src="~/assets/libs/js/main-js.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
